* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  opacity: 1;
  overflow-y: scroll;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 204px;
  min-width: 204px;
  background: var(--bg-primary);
  transition: all 0.35s ease-in-out;
}

.sidebar-logo {
  padding: 1.15rem;
}

.sidebar-logo a {
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}

.sidebar-item {
  /* background-color: rgb(188, 189, 169); */
  padding-left: 10px;
  height: 10vh;
}

.sidebar-item > a {
  color: #fff;
  text-decoration: none;
}

.sidebar-item > a:hover {
  background-color: #cfe2ff49;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

/* Sidebar Toggle */

#sidebar.collapsed {
  margin-left: -210px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: var(--bg-light-subtle);
}

.avatar {
  width: 40px;
  height: 40px;
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item {
  display: flex;
  gap: 10px;
  padding: 0;
}

.nav-item p {
  margin-top: 10px;
  margin-bottom: 0;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
  border-top: 1px solid #ccc;
}

@media (min-width: 768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}



/* Theme Toggler */

.theme-toggle {
  transform: translateY(-65%);
  text-align: center;
  border: none;
}

html[data-bs-theme="dark"] .theme-toggle .bi-sun,
html[data-bs-theme="light"] .theme-toggle .bi-moon {
  cursor: pointer;
  padding: 10px;
  display: block;
  font-size: 1.25rem;
  color: #fff;
}

html[data-bs-theme="dark"] .theme-toggle .bi-moon {
  display: none;
}

html[data-bs-theme="light"] .theme-toggle .bi-sun {
  display: none;
}


.filtro {
  width: auto;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card-filtro {
  height: 100px;
  text-align: center;
  color: #fff;
}

.card-filtro > h3 {
  font-size: 17px;
}

.card-filtro > span {
  font-size: 20px;
  font-weight: bold;
}

.sub-titulo {
  font-size: 18px;
}